body{
  background-image:linear-gradient(to bottom,pink,yellow,pink) ;
  height: 100vh;
}
.parent{
  display: flex;
  justify-content: space-around;
  background-color: grey;
  padding:1%;
}
a{
text-decoration: none;
color:rgb(5, 5, 30);
font-size: 20px;
}

